<div class="m-5 d-flex flex-wrap ">
  <div *ngFor="let a of allVehicleData" class="card m-1" (click)="onCardClick(a)">
    <div class="card-body">
      <img src="../../../assets/006.jpg" alt="hi" height="180px" width="300px">
    </div>
    <div class="card-footer">
      <div>
        <h6>{{a.brandName}}&nbsp; &nbsp; {{a.modelName}}</h6>
      </div>
      <div>
        <p>{{a.cc}}</p>
      </div>
    </div>

  </div>
</div>
