
<div class="d-flex flex-column align-items-center ">
  <div class="card w-75 m-5 shadow-lg">
    <div class="m-3">
      <div class="d-flex justify-content-between">
        <div class="col-4">
          <label >Brand &nbsp;&nbsp;:&nbsp;&nbsp;</label>
          <select name="brand" [(ngModel)]="brandId" (change)="getModelData()">
            <option value="0">Select</option>
            <option *ngFor="let brand of brandList" value="{{brand.id}}">{{brand.brandName}}</option>
          </select>
        </div>
        <div class="col-4">
          <label >Model &nbsp;&nbsp;:&nbsp;&nbsp;</label>
          <select name="model" [(ngModel)]="modelId" (change)="getYear()">
            <option value="0">Select</option>
            <option *ngFor="let model of modelList" value="{{model.id}}" >{{model.modelName}}</option>
          </select>
        </div>
        <div class="col-4">
          <label >Year &nbsp;&nbsp;:&nbsp;&nbsp;</label>
          <select name="year" [(ngModel)]="selectedYear">
            <option value="0">Select</option>
            <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex cpl-4">
          <div>
            <label>Discription&nbsp;&nbsp;:&nbsp;</label>
          </div>
          <div>
            <textarea name="description" [(ngModel)]="description" cols="30" rows="5"></textarea>
          </div>
        </div>
        <div class="col-4">
          <label>CC&nbsp;&nbsp;:&nbsp;</label>
          <input type="text" name="cc" [(ngModel)]="cc">
        </div>
        <div class="col-4">
          <input type="radio" name="fuel" [(ngModel)]="fuel" value="Petrol">Petrol<br>
          <input type="radio" name="fuel" [(ngModel)]="fuel" value="CNG">CNG<br>
          <input type="radio" name="fuel" [(ngModel)]="fuel" value="Diesel">Diesel<br>
          <input type="radio" name="fuel" [(ngModel)]="fuel" value="Electricity">Electricity<br>
        </div>
      </div>
    </div>
    <div class="m-3">
      <input type="checkbox" name="checkbox" [(ngModel)]="checkBox">All the Details mentioned above are true to my knowledge and supported proofs can be provided if asked to produce.
    </div>
    <div class="m-3 d-flex flex-column align-items-end">
      <button type="submit" (click)="onAddDetailClicked()">Add Details</button>
    </div>
  </div>

  <div class="card w-75 m-5 shadow-lg">
    <table class="table">
      <thead>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Description</th>
        <th>CC</th>
        <th>Fuel</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of allVehicleData">
          <td>{{data.brandName}}</td>
          <td>{{data.modelName}}</td>
          <td>{{data.year}}</td>
          <td>{{data.description}}</td>
          <td>{{data.cc}}</td>
          <td>{{data.fuel}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
