<div class=" d-flex flex-column align-items-center">
  <div class="w-75 card shadow-lg p-5 ">
    <div class="d-flex">
      <div class=" me-3">
        <img src="../../../assets/003.jpg" alt="vehicle Image" height="400px">
      </div>
      <div class="">
        <div>
          <h4>{{primaryData.brandName}} &nbsp; &nbsp;{{primaryData.modelName}}</h4>
        </div>
        <div>
          <h5>{{primaryData.year}}</h5>
        </div>
        <div class="d-flex">
          <div class="me-5">
            CC&nbsp;&nbsp;:&nbsp;{{primaryData.cc}}
          </div>
          <div>
            Fuel&nbsp;&nbsp;:&nbsp;{{primaryData.fuel}}
          </div>
        </div>
        <div>
          <p>
            {{primaryData.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column align-items-center m-5">
  <h4>Customers also veiwed this</h4>
</div>
<div class="d-flex flex-column align-items-center">
  <div class="w-75">
    <div class="m-5 d-flex flex-wrap ">
      <div *ngFor="let a of allVehicleData" class="card m-1" >
        <div class="card-body">
          <img src="../../../assets/006.jpg" alt="hi" height="180px" width="300px">
        </div>
        <div class="card-footer">
          <div>
            <h6>{{a.brandName}}&nbsp; &nbsp; {{a.modelName}}</h6>
          </div>
          <div>
            <p>{{a.cc}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
