<div class="w-100 bg-dark d-flex">
  <div>
    <button routerLink="">Admin</button>
  </div>
  <div>
    <button routerLink="dashboard">DashBoard</button>
  </div>
  <div>
    <button routerLink="details">Detail</button>
  </div>
</div>
<router-outlet></router-outlet>
